.select-icon {
  position: absolute;
  border: 1px solid #777;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  background: dodgerblue;
  top: 42%;
  left: 42%;
  h1 {
    font-family: sans-serif;
    color: white;
  }

  .icons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    span {
      border-radius: 5px;
      padding: 8px 25px;
      background-color: white;
      font-weight: 900;
      cursor: pointer;
      svg {
        width: 25px;
        height: 25px;
        fill: blue;
      }
    }
    .x {
      svg {
        fill: red;
      }
    }
  }
}
